@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: var(--tx);
  overscroll-behavior-y: contain;
}

:root {
  --nb-color: 10;
}
.dark:root {
  --tx: #f5fafa;
  --color-60: #17224d;
  --color-30: #007fff;
  --color-10: #17e9e1;
  --gr: rgb(32, 32, 32);
  --gr2: rgb(173, 173, 173);
}
.light:root {
  --tx: black;
  --color-60: hsl(var(--nb-color), 100%, 98%);
  --color-30: hsl(var(--nb-color), 100%, 95%);
  --color-10: hsl(var(--nb-color), 100%, 30%);
  --gr: hsla(0, 0%, 50%, 0.3);
  --shadow: hsla(0, 0%, 0%, 0.4);
}
.active{
  border-bottom: 4px solid var(--color-10);
  color: var(--color-10);
}

.diva{
  left: var(--p);
}














