@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: var(--tx);
  overscroll-behavior-y: contain;
}

:root {
  --nb-color: 10;
}

.dark:root {
  --tx: #f1f1f1;
  --bg: #151515;
  --theme-color: #00fff7;
  --gr: #202020;
  --gr2: #3d3d3d;
  --gr3: #7c7c7c;
}

.light:root {
  --tx: black;
  --bg: hsl(var(--nb-color), 100%, 98%);
  --gr: hsl(var(--nb-color), 100%, 95%);
  --theme-color: hsl(var(--nb-color), 100%, 30%);
  --gr: hsla(0, 0%, 50%, 0.3);
  --shadow: hsla(0, 0%, 0%, 0.4);
}

.active {
  border-bottom: 4px solid var(--theme-color);
  color: var(--theme-color);
}

.diva {
  left: var(--p);
}